version: "0.1" 

services:
  web:
    depends_on: 
      - api
    build: ./frontend

    ports:
      - 3000:3000
    environment:
      API: http://localhost:4000/api/

    develop:
      watch:
        - path: ./frontend/package.json
          action: rebuild
        - path: ./frontend/package-lock.json
          action: rebuild
        - path: ./frontend
          target: /app
          action: sync
  api:
    # depends_on:
    #   - db
    build: ./backend
    ports: 
      - 4000:4000
    environment: 
      DB_HOST: host.docker.internal
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASS: root
      DB_NAME: ufe

    develop:
      watch:
        - path: ./backend/package.json
          action: rebuild
        - path: ./backend/package-lock.json
          action: rebuild
        - path: ./backend
          target: /app
          action: sync
  # db: 
  #   postgres
volumes:
  anime:

